<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce</title>
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
</head>
<body>
    <header>
        <a href="#" class="logo">E-BOOK STORE</a>
        <ul>
            <li><a href="index.html">Home</a></li>
            <li><a href="products.html">Products</a></li>
            <li><a href="about.html">About</a></li>
            <li><a href="#cart">Cart</a></li>
        </ul>
       </header>
        
         
    <div class="row">
        <div class="col-2">
<h1>What Are You Waiting For? We Won't Be Here Forever.</h1>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Cumque possimus, ab soluta, veritatis quos maiores aut vero iste pariatur
     perferendis a accusantium, aperiam ea adipisci quae laudantium facilis.Corrupti, amet.<br><br>Oh, and we also have tons of books.</p>
     <a href="" class="btn">Explore Now &#8594;</a>
        </div>
        <div class="col-2">
         <img src="./images/inaki-del-olmo-NIJuEQw0RKg-unsplash.jpg" alt="image">
        </div>
    </div>   
</div>
</div>
   <!---------featured categories-------->
<div class="categories">
    <div class="small-container">
        <div class="row">
            <div class="col-3">
                <img src="images/death.png" >
            </div>
            <div class="col-3">
                <img src="images/got.png" >
            </div>
            <div class="col-3">
                <img src="images/mind.png" >
            </div>
        </div>
    </div>
    </div>
   
<!----------------featured products---------->
   <div class="small-container">
    <h2 class="title">Featured Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="images/death.png" alt="">
            <h4>Death an inside story</h4><br>
           <h4>&50.00</h4>
           <a href="" class="btn2"> Add TO Cart</a>
        </div>
        <div class="col-4">
            <img src="images/got.png" alt="">
            <h4>Game Of Thrones</h4><br>
            <h4>&40.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
        <div class="col-4">
            <img src="images/mind.png" alt="">
            <h4>The Power of your subconscious mind</h4><br>
            <h4>&30.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
        <div class="col-4">
            <img src="images/sign.png" alt="">
            <h4>Where The Crawdads Sing</h4><br>
            <h4>&20.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
    </div>
    <h2 class="title">Latest  Products</h2>
    <div class="row">
        <div class="col-4">
            <img src="images/wakinglife.png" alt="">
            <h4>Waking Life</h4><br>
            <h4>&50.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
        <div class="col-4">
            <img src="images/upload.png" alt="">
            <h4>Upload</h4><br>
            <h4>&50.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
        <div class="col-4">
            <img src="images/mulholland dr.png" alt="">
            <h4>Mulholland Drive</h4><br>
            <h4>&50.00</h4>
            <a href="" class="btn2"> Add TO Cart</a>
        </div>
    </div>
   </div>
   <!------footer---->
   <div class="footer">
    <div class="container">
        <div class="row">
            <div class="footer-col-1">
                <h3>CONTACT US: bedademahesh02@gmail.com</h3>
            </div>
            <div class="footer-col-2">
                <h3>Phone: 7276349841</h3>
            </div>
        </div>
    </div>
   </div>

    
</body>
</html> 